<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.g1park.throwingmoney.business.repository.RoomMapper">

    <select id="SelectRoomInfoByOwnerID" parameterType="String" resultType="net.g1park.throwingmoney.business.common.model.Room" >
        SELECT
          SEQ_NO as "seqNo",
          ROOM_ID as "roomID",
          ROOM_DESC as "roomDesc",
          OWNER_ID as "ownerID",
          INS_DATE as "insDate",
          UPD_DATE as "updDate"
        FROM ROOM WHERE OWNER_ID = #{ownerID}
    </select>

    <select id="SelectRoomInfoByRoomID" parameterType="String" resultType="net.g1park.throwingmoney.business.common.model.Room" >
        SELECT
          SEQ_NO as "seqNo",
          ROOM_ID as "roomID",
          ROOM_DESC as "roomDesc",
          OWNER_ID as "ownerID",
          INS_DATE as "insDate",
          UPD_DATE as "updDate"
        FROM ROOM WHERE ROOM_ID = #{roomID}
    </select>

    <select id="SelectRoomMenberListByRoomID" parameterType="String" resultType="Integer" >
        SELECT USER_ID as "Integer" FROM ROOM_MEMBER WHERE ROOM_ID = #{roomID}
    </select>

</mapper>