<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.g1park.throwingmoney.business.repository.AccountMapper">

    <insert id="InsertTransfer" parameterType="net.g1park.throwingmoney.business.model.Transfer" >
        INSERT INTO TRANSFER
        (FROM_ACCTNO, TO_ACCTNO, AMOUNT, RESULT_CODE, INS_DATE, UPD_DATE)
        VALUES
        (
          #{fromAcctNo},
          #{toAcctNo},
          #{amount},
          #{resultCode},
          NOW(),
          NOW()
        )
    </insert>




</mapper>